.card {
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-fair);
  user-select: none;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgb(0 0 0 / 30%) 1px 3px 12px 0px;
  height: 12rem;
  transition: all 0.3s ease-in-out;
  padding: 0px 2rem;
  max-width: 35vw;
}
.card__details {
  display: flex;
  height: 75%;
  // width: 80%;
  font-weight: bold;
  // border: 2px solid red;
  justify-content: space-between;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__id {
    font-size: 1.2rem;

    color: var(--text-dark);
  }
  &__name {
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    color: var(--text-fair);
  }
  &__types {
    display: flex;
    gap: 1ch;
  }
}

// .card__details > * {
//   border: 2px solid green;
// }
.card__images {
  position: relative;
  // border: 2px solid rgb(207, 37, 108);
  height: 200px;
  width: 200px;
  .poke {
    position: absolute;
    // border: 3px solid green;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    z-index: 2;
    filter: grayscale(80%);
    -webkit-user-drag: none;
    transition: transform 0.4s ease-in-out, filter 0.5s ease;
  }
}
.card:hover .poke {
  transform: translate(-50%, -60%);
  filter: drop-shadow(1px 1px 1px cyan) grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}
.card:hover {
  border-radius: 10px;
}

.card__images > img:not(.poke) {
  filter: invert(1) opacity(0.4);
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  top: 50%;
  left: 50%;
  // border: 2px solid red;
  transform: translate(-50%, -50%);
  z-index: 0.5;
}
.typecard {
  font-family: Pokemon;
  text-transform: capitalize;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0.4rem;
  gap: 0.5ch;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  color: var(--text-fair);
}
@media screen and (max-width: 900px) {
  .card {
    max-width: none;
  }
  .typecard > img {
    height: 16px;
    width: 16px;
  }
}
